/* work sans fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;600;700&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}
body {
  /* margin: 0px; */
}

.btn-primary {
  border-radius: 8px;
  color: #fff;
  background: #ff900e;
  border: none;
  cursor:alias;
  padding: 20px 25px;
}
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
}

nav li a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-size: 1 rem;
  font-weight: 500;
}

/* banner style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

.banner-description {
  color: #727272;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}

@media screen and (min-width:576px) and (max-width: 992px) {
    header{
        padding: 50px;
    }
}
